<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-1">
            <div class="text-white"> Year </div>
            <div class="text-white"> Cash </div>
            <div class="text-white"> Interest </div>
            <div class="text-white"> Stocks </div>
            <div class="text-white"> Total </div>
        </div>
        <div class="col-1" *ngFor="let year of years">
            <div class="text-white" id="Year{{year}}"> 0 </div>
            <div class="text-white" id="Cash{{year}}"> 0 </div>
            <div class="text-white" id="Interest{{year}}"> 0 </div>
            <div class="text-white" id="Stocks{{year}}"> 0 </div>
            <div class="text-white" id="Total{{year}}"> 0 </div>
        </div>
    </div>
</div>