<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-1">
            <div class="text-white"> Year </div>
            <div class="text-white"> Cash </div>
            <div class="text-white"> Interest </div>
            <div class="text-white"> Stocks </div>
            <div class="text-white"> Total </div>
        </div>
        <div class="col-1" *ngFor="let statistics of data.yearStats">
            <div class="text-white"> {{statistics.year}} </div>
            <div class="text-white"> {{statistics.cash}} </div>
            <div class="text-white"> {{statistics.interest}} </div>
            <div class="text-white"> {{statistics.stocks}} </div>
            <div class="text-white"> {{statistics.total}} </div>
        </div>
    </div>
</div>