<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-1">
            <div class="text-white"> Year </div>
            <div class="text-white"> Cash </div>
            <div class="text-white"> Interest </div>
            <div class="text-white"> Stocks </div>
            <div class="text-white"> Total </div>
        </div>
        <div class="col-1" *ngFor="let statistics of data.yearStats">
            <div class="text-white"> {{statistics.year | number: '1.1-2' }} </div>
            <div class="text-white"> {{statistics.cash | number: '1.1-2' }} </div>
            <div class="text-white"> {{statistics.interest | number: '1.1-2' }} </div>
            <div class="text-white"> {{statistics.stocks | number: '1.1-2' }} </div>
            <div class="text-white"> {{statistics.total | number: '1.1-2' }} </div>
        </div>
    </div>
</div>