<div class="container">
    <div class="row">
        <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
            <h2 class="text-center">Host a Game</h2>
            <div>
                <label>Enter Game no. to join or leave blank to host </label>
                <input type="text" name="host" class="form-control"  [(ngModel)]="key"/>
                <hr class="my-4">
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="send()">Host</button>
            </div>
        </div>
    </div>
</div>